<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WDI ISSUES</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>WDIssues</h1>
    <nav>
      <ul>
        <li><a href='/auth/github'>Log in with Github</a></li>
      </ul>
    </nav>
    <div class="newPost"></div>
    <div class='posts'></div>
  </body>

  <script id="postTemplate" type="text/x-handlebars-template">
    <h3>{{ title }}</h3>
    <p> status: {{ status }}</p>
    <p>{{ body }}</p>
    <button class='editPost'>Edit Post</button>
    <button class='showComments'>Show Comments</button>
    <div class='comments'></div>
  </script>

  <script id="postEditTemplate" type="text/x-handlebars-template">
    <input name='title' value='{{ title }}'><br>
    <input name='status' value='{{ status }}'><br>
    <textarea name='body'>{{ body }}</textarea>
    <button class='updatePost'>Update</button>
    <button class='deletePost'>Delete</button>
  </script>

  <script id="newPostTemplate" type="text/x-handlebars-template">
    <input name='title'><br>
    <input name='status'><br>
    <textarea name='body'></textarea>
    <button class='createPost'>Create</button>
    <button class='cancelNewPost'>Cancel</button>
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.js"></script>
  <script src="/js/models/post.js"></script>
  <script src="/js/models/comment.js"></script>
  <script src="/js/views/postView.js"></script>
  <script src="/js/views/commentView.js"></script>
  <script src="/js/script.js"></script>
</html>
