<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WDI ISSUES</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>WDIssues</h1>
    <nav>
      <ul>
        <li><a href='/auth/github'>Log in with Github</a></li>
      </ul>
    </nav>
    <div class='posts'></div>
    <button class='createPostView'>New Issue</button> <!--don't love this class name -->
    <div class='newPost'></div>
  </body>

  <script id="postTemplate" type="text/x-handlebars-template">
    <div class='post'>
      <h3>{{ title }}</h3>
      <p> status: {{ status }}</p>
      <p>{{ body }}</p>
      <button class='editPost'>Edit Post</button>
      <button class='showComments'>Show Comments</button>
      <div class='comments'></div>
    </div>
  </script>

  <script id="editPostTemplate" type="text/x-handlebars-template">
    <div class='editPost'>
      <input name='title' value='{{ title }}'><br>
      <input name='status' value='{{ status }}'><br>
      <textarea name='body'>{{ body }}</textarea>
      <button class='updatePost'>Update</button>
      <button class='deletePost'>Delete</button>
    </div>
  </script>

  <script id="createPostTemplate" type="text/x-handlebars-template">
    <div class='editPost'>
      <input name='title' placeholder="Title"><br>
      <textarea name='body' placeholder="I wanted... I tried... I expected... the result was..."></textarea>
      <button class='createPost'>Post</button>
      <button class='cancel'>Cancel</button>
    </div>
  </script>

  <script id="createCommentTemplate" type="text/x-handlebars-template">
    <div class='createComment'>
      <textarea placeholder="Your comment"></textarea>
      <button class='submitComment'>Comment</button>
    </div>
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.js"></script>
  <script src="/js/models/post.js"></script>
  <script src="/js/models/comment.js"></script>
  <script src="/js/views/postView.js"></script>
  <script src="/js/views/createPostView.js"></script>
  <script src="/js/views/editPostView.js"></script>
  <script src="/js/views/commentView.js"></script>
  <script src="/js/views/createCommentView.js"></script>
  <script src="/js/script.js"></script>


</html>
